@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
/* body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* scroll del html y imagen de fondo del body */
html {
  scroll-behavior: smooth;
}

body {
  background-image: url("/css/img/body/11.jpg");
  background-position: top;
}

/* Titulos y textos */
h2 {
  text-align: center;
  padding: 20px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  color: white;
  border-radius: 4px;
}

.menuTexto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 22px;
  margin: 10px;
}

.titulos {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 60px;
  color: plum;
  text-shadow: 2px 2px #FFFFFF;
  text-decoration: none;
}

.texto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}

.seccionTitulos {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #ffffff;
}

.seccionTexto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

/* header */
.homeHeader {
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  position: fixed;
  width: 100%;
}

.imgHeader {
  transition: all 1s;
}
.imgHeader:hover {
  box-shadow: 0 1px 4px rgba(194, 50, 187, 0.8), -13px 0 10px -13px rgba(194, 50, 187, 0.8), 13px 0 10px -13px rgba(194, 50, 187, 0.8), inset 0 0 20px rgba(194, 50, 187, 0.8);
  border-radius: 50px;
  font-size: 50px;
  -webkit-transform: scale(1.35) rotate(360deg);
  -o-transform: scale(1.35) rotate(360deg);
  -moz-transform: scale(1.35) rotate(360deg);
  transform: scale(1.35) rotate(360deg);
}

ul {
  list-style: none;
}

li {
  display: block;
  width: 25%;
  position: relative;
  font-size: 14px;
}

ul ul {
  position: absolute;
  display: none;
}

ul ul li {
  display: block;
}

ul li:hover ul {
  display: block;
  border-radius: 800px;
  position: absolute;
}

@media only screen and (max-width: 750px) {
  .homeHeader {
    display: none;
  }
}
/* fin del header */
/* extend */
.sectionTres, .sectionU, .sectionUno {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* seccionUno */
.sectionUno {
  padding: 10px 0px;
  margin: 10px 0px 40px 0px;
  background-color: black;
  border-radius: 50px;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.8), -13px 0 10px -13px rgba(255, 255, 255, 0.8), 13px 0 10px -13px rgba(248, 245, 248, 0.8), inset 0 0 20px rgba(245, 241, 245, 0.8);
}
.sectionUno .imgHome {
  width: 100%;
  position: relative;
  margin: 0 10px 0 10px;
  box-shadow: 0 1px 4px rgba(194, 50, 187, 0.8), -23px 0 20px -23px rgba(194, 50, 187, 0.8), 23px 0 20px -23px rgba(194, 50, 187, 0.8), inset 0 0 40px rgba(194, 50, 187, 0.8);
  border-radius: 20px;
}

.sectionU {
  padding: 10px 0px;
  margin: 10px 0px 40px 0px;
  border-radius: 50px;
  align-items: flex-end;
}
.sectionU .btnChori {
  position: absolute;
}

/* seccionDos */
.sectionDos {
  padding: 20px 0px;
  margin: 40px auto;
  background: black;
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.8), -13px 0 10px -13px rgba(255, 255, 255, 0.8), 13px 0 10px -13px rgba(248, 245, 248, 0.8), inset 0 0 20px rgba(245, 241, 245, 0.8);
}
.sectionDos .shadowChori {
  box-shadow: 0 1px 4px rgba(194, 50, 187, 0.8), -13px 0 10px -13px rgba(194, 50, 187, 0.8), 13px 0 10px -13px rgba(194, 50, 187, 0.8), inset 0 0 20px rgba(194, 50, 187, 0.8);
  border-radius: 30px;
}

.btnChori {
  font-family: "trebuchet ms";
  color: #FFFFF5;
  font-size: 14px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #DEC1C9;
  box-shadow: 1px 1px 1px #6B2670;
  padding: 10px 25px;
  border-radius: 17px;
  border: 2px solid #5C5C5C;
  background: #180619;
  background: linear-gradient(to top, #180619, #A1A1A1);
}
.btnChori:hover {
  color: #FFFFFF;
  text-decoration: none;
  background: #380F24;
  background: linear-gradient(to top, #380F24, #DD3C8D);
}

/* seccionTres */
.sectionTres {
  padding: 20px 0px;
  margin: 40px auto;
  background-color: black;
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.8), -13px 0 10px -13px rgba(255, 255, 255, 0.8), 13px 0 10px -13px rgba(248, 245, 248, 0.8), inset 0 0 20px rgba(245, 241, 245, 0.8);
}
.sectionTres .img {
  width: 100%;
  border: blueviolet 2px solid;
  background-color: #521796;
  overflow: hidden;
  border-radius: 300px;
}

/* fin de seccionTres */
/* seccionCuatro */
.sectionCuatro {
  padding: 40px 0px;
  margin: 40px auto;
  background: black;
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.8), -13px 0 10px -13px rgba(255, 255, 255, 0.8), 13px 0 10px -13px rgba(248, 245, 248, 0.8), inset 0 0 20px rgba(245, 241, 245, 0.8);
}

/* fin de seccionCuatro */
/* seccionCinco */
.sectionCinco {
  padding: 50px 0px;
  margin: 40px auto;
  background-color: black;
  border-radius: 20px;
  align-items: center;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.8), -13px 0 10px -13px rgba(255, 255, 255, 0.8), 13px 0 10px -13px rgba(248, 245, 248, 0.8), inset 0 0 20px rgba(245, 241, 245, 0.8);
}
.sectionCinco .shadowChori {
  box-shadow: 0 1px 4px rgba(194, 50, 187, 0.8), -13px 0 10px -13px rgba(194, 50, 187, 0.8), 13px 0 10px -13px rgba(194, 50, 187, 0.8), inset 0 0 20px rgba(194, 50, 187, 0.8);
  border-radius: 50px;
}

.btnChori {
  font-family: "Roboto", sans-serif;
  color: #FFFFF5;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 25px;
  border-radius: 17px;
  border: 2px solid #5C5C5C;
  background: #180619;
  background: linear-gradient(to top, #180619, #A1A1A1);
}
.btnChori:hover {
  color: #FFFFFF;
  text-decoration: none;
  background: #380F24;
  background: linear-gradient(to top, #380F24, #DD3C8D);
  text-shadow: 1px 1px 0px #DEC1C9;
  box-shadow: 1px 1px 1px #6B2670;
}

/* fin de seccionCinco */
/* footer */
footer {
  padding: 40px 0px;
  margin: 40px 0px 0px 0px;
  display: flex;
  background-color: black;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.8), -13px 0 10px -13px rgba(255, 255, 255, 0.8), 13px 0 10px -13px rgba(248, 245, 248, 0.8), inset 0 0 20px rgba(245, 241, 245, 0.8);
}
footer .choriTexto {
  color: #ffffff;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
