@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
/* body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
}

/* Titulos y textos */
h2 {
  text-align: center;
  padding: 20px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  color: white;
  border-radius: 4px;
}

.menuTexto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 22px;
  margin: 10px;
}

.titulos {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 60px;
  color: plum;
  text-shadow: 2px 2px #FFFFFF;
  text-decoration: none;
}

.texto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}

.seccion-titulos {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #ffffff;
}

.seccion-texto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

/* header */
.homeHeader {
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  position: fixed;
  width: 100%;
}

.imgheader {
  transition: all 1s;
}
.imgheader:hover {
  border-radius: 50px;
  font-size: 50px;
  -webkit-transform: scale(1.35) rotate(360deg);
  -o-transform: scale(1.35) rotate(360deg);
  -moz-transform: scale(1.35) rotate(360deg);
  transform: scale(1.35) rotate(360deg);
}

.img1 {
  border-radius: 30px;
  z-index: 1;
}

ul {
  list-style: none;
}

li {
  display: block;
  width: 25%;
  position: relative;
  font-size: 14px;
}

ul ul {
  position: absolute;
  display: none;
}

ul ul li {
  display: block;
}

ul li:hover ul {
  display: block;
  border-radius: 800px;
  position: absolute;
}

@media only screen and (max-width: 750px) {
  .homeHeader {
    display: none;
  }
}
/* fin del header */
/* extend */
.sectionTres, .sectionUno {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* seccionUno */
.sectionUno {
  padding: 15px 0px;
  margin: 0px 0px 20px 0px;
  background-color: black;
}
.sectionUno .imghome {
  width: 100%;
  margin: 0 10px 0 10px;
  box-shadow: 0 1px 4px rgba(194, 50, 187, 0.8), -23px 0 20px -23px rgba(194, 50, 187, 0.8), 23px 0 20px -23px rgba(194, 50, 187, 0.8), inset 0 0 40px rgba(194, 50, 187, 0.8);
  border-radius: 20px;
}

/* seccionDos */
.sectionDos {
  padding: 20px 0px;
  margin: 20px auto;
  background: black;
}
.sectionDos .shadowChori {
  box-shadow: 0 1px 4px rgba(194, 50, 187, 0.8), -13px 0 10px -13px rgba(194, 50, 187, 0.8), 13px 0 10px -13px rgba(194, 50, 187, 0.8), inset 0 0 20px rgba(194, 50, 187, 0.8);
  border-radius: 30px;
}

.btnChori {
  font-family: "trebuchet ms";
  color: #FFFFF5;
  font-size: 14px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #DEC1C9;
  box-shadow: 1px 1px 1px #6B2670;
  padding: 10px 25px;
  border-radius: 17px;
  border: 2px solid #5C5C5C;
  background: #180619;
  background: linear-gradient(to top, #180619, #A1A1A1);
}
.btnChori:hover {
  color: #FFFFFF;
  text-decoration: none;
  background: #380F24;
  background: linear-gradient(to top, #380F24, #DD3C8D);
}

/* seccionTres */
.sectionTres {
  padding: 20px 0 0 0;
  margin: 20px auto;
  background-color: black;
}
.sectionTres .img {
  width: 100%;
  border: blueviolet 2px solid;
  background-color: #521796;
}

/* fin de seccionTres */
/* seccionCuatro */
.sectionCuatro {
  padding: 40px 0px;
  margin: 20px auto;
  background: black;
}
.sectionCuatro .shadowChori {
  box-shadow: 0 1px 4px rgba(194, 50, 187, 0.8), -23px 0 20px -23px rgba(194, 50, 187, 0.8), 23px 0 20px -23px rgba(194, 50, 187, 0.8), inset 0 0 40px rgba(194, 50, 187, 0.8);
  border-radius: 50px;
}

/* fin de seccionCuatro */
/* seccionCinco */
.sectionCinco {
  padding: 50px 0px;
  margin: 20px auto;
  background-color: black;
  align-items: center;
}
.sectionCinco .shadowChori {
  box-shadow: 0 1px 4px rgba(251, 250, 251, 0.8), -23px 0 20px -23px rgba(251, 250, 251, 0.8), 23px 0 20px -23px rgba(251, 250, 251, 0.8), inset 0 0 40px rgba(251, 250, 251, 0.8);
  border-radius: 50px;
}

.btnChori {
  font-family: "Roboto", sans-serif;
  color: #FFFFF5;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 25px;
  border-radius: 17px;
  border: 2px solid #5C5C5C;
  background: #180619;
  background: linear-gradient(to top, #180619, #A1A1A1);
}
.btnChori:hover {
  color: #FFFFFF;
  text-decoration: none;
  background: #380F24;
  background: linear-gradient(to top, #380F24, #DD3C8D);
  text-shadow: 1px 1px 0px #DEC1C9;
  box-shadow: 1px 1px 1px #6B2670;
}

/* fin de seccionCinco */
/* footer */
.fcontenedor {
  padding: 20px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.pie {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.imageUno {
  padding: 0px 10px;
  border-radius: 10px;
  position: fixed;
  top: 45%;
  right: 0%;
}

.imageDos {
  padding: 0px 10px;
  border-radius: 10px;
  position: fixed;
  top: 52%;
  right: 0%;
}

.imageTres {
  padding: 0px 10px;
  border-radius: 10px;
  position: fixed;
  top: 38%;
  right: 0%;
}

/* fin del footer */

/*# sourceMappingURL=style.css.map */
