

/* Titulos y textos */

h2 {
    text-align: center;
    padding: 20px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: $text1;
    color: white;
    border-radius: 4px;
}

.menuTexto {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $menu-texto;
    font-size: $text3;
    margin: 10px;
}

.titulos {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: $text1;
    color: $title-c; 
    text-shadow: 2px 2px #FFFFFF;
    text-decoration: none;
}

.texto {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: $text2;
    color: $tx-c;
    text-align: center;
}

.seccion-titulos {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: $sec-titu;
    
}

.seccion-texto {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: $tx-c;
}