/* body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* scroll del html y imagen de fondo del body */

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("/css/img/body/11.jpg");
    background-position: top;
    
}