/* footer */
.fcontenedor {
    padding: 20px 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

.pie {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.imageUno{
    padding: 0px 10px;
    border-radius: 10px;
    position: fixed;
    top: 45%;
    right: 0%;
}

.imageDos {
    padding: 0px 10px;
    border-radius: 10px;
    position: fixed;
    top: 52%;
    right: 0%;
}

.imageTres {
    padding: 0px 10px;
    border-radius: 10px;
    position: fixed;
    top: 38%;
    right: 0%;
}

/* fin del footer */
